# ===============================
# Virtual environments
# ===============================
.venv/
venv/
env/

# Environment variables
.env
.env.*

# ===============================
# PyCharm
# ===============================
.idea/

# ===============================
# Python cache
# ===============================
__pycache__/
*.py[cod]
